.about{
  color: #000000;
  text-align: center;

  &__title {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 35px;
  }
  &__description {
    margin: 20px auto 0 auto;
    max-width: 600px;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
  }
}