header {
  padding-top: 20px;
  text-align: center;
  color: #fff
}
.header {
  &__main {
    background: no-repeat center/cover url(../../img/main-bg.png);
  }
  &__ourCoffee {
    background: no-repeat center/cover url(../../img/OurCoffee-bg.png);
    padding-bottom: 84px;
    
  }
  &__forYourPleasure {
    background: no-repeat center/cover url(../../img/forYourPleasure.png);
    padding-bottom: 84px;
  }
}

.secondTitle {
  margin: 60px auto 0 auto;
}

.wrapperMain {
  margin-top: 170px;
}
.mainButton {
  margin-bottom: 100px;
}

.description {
  font-weight: 700;
  font-size: 24px;
  line-height: 35px;
  color: #FFFFFF;
}

@media (max-width: 768px) {
  h1 {
    font-size: 22px;
    margin-bottom: 15px;
  }
  .wrapperMain {
    margin-top: 140px;
    
    .description {
      font-size: 15px;
      line-height: 22px;
      margin-top: 15px;
    }

    button {
      margin-top: 10px;
      margin-bottom: 65px;
    }
  }
}

@media (max-width: 768px) {
  h1 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  .wrapperMain {
    margin-top: 80px;
    
    .description {
      font-size: 12px;
      line-height: 22px;
      margin-top: 15px;
    }

    button {
      margin-top: 10px;
      margin-bottom: 65px;
    }
  }
}