header {
  padding-top: 20px;
  background: no-repeat center/cover url(../../img/main-bg.png);
  text-align: center;
  color: #fff
}

.wrapperMain {
  margin-top: 170px;
}
.mainButton {
  margin-bottom: 100px;
}