body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Merienda";
}

@font-face {
  font-family: Merienda;
  src: local("Merienda"),
  url(./fonts/Merienda-Bold.ttf) format("truetype");
}

.container {
  max-width: 1100px;
  margin: 0 auto;
}
