.info {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: 280px 350px;
  column-gap: 79px;
}

.stroke {
  width: 240px;
  height: 1px;
  background-color: #000;
  margin: 60px auto;
}

.cardWrapper{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 50px;
  &__img {
    max-width: 390px;
  }
  &__description {
    max-width: 410px;
    &_title{
      margin: 0 auto;
      margin-bottom: 20px;
      text-align: center;
      font-style: normal;
      font-weight: 400;
      font-size: 24px;
      line-height: 35px;
      color: #000000;
    }
  }
}